:host {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background: #1a89ff;
  color: white;
  &:hover {
    cursor: pointer;
    background: #1565C0;
  }
}
